@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-rosa-claro: #FC99C4;
    -cor-rosa: #DB73B7 ;
    --cor-roxo: #903799;
    --cor-roxo2: #5C2179;
    --cor-roxo-escuro: #311058;
    --cor-roxao: #110537;
    --cor-preto: #000000;
    --cor-branco: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-decoration: none;
    color: var(--cor-branco);
    
}

header {
    background-color: var(--cor-roxao);
    padding: 30px;
    max-width: 1400px;

    font-size: 18px;
}


header img {
    width: 70px;
}

header nav {
    gap: 20px;
    margin-left: 600px;
    margin-top: 40px;
    
}

.home {
    background-color: var(--cor-preto);
    max-width: 1400px;
    height: 400px;
    
}

.d-flex {
    display: flex;
}

.conteudo-home {
    display: flex;
    flex-direction: column; 
    padding-left: 40px; 
    padding-top: 70px;
    gap: 10px; 
}

.quemsomos {
    background-color: var(--cor-roxo);
    padding: 40px 60px;
    color: var(--cor-branco);
    flex-wrap: wrap;
    gap: 15px;
}

.servicos {
    height: 400px;
    padding: 60px 40px;
    background-color: #140f25;
    color: var(--cor-branco);
    text-align: center;
}

.servicos-subtitulo {
    font-size: 18px;
    margin-bottom: 40px;
    color: var(--cor-branco);
}

.servicos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.servico-card {
    background-color: #1d182e;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    text-align: left;
}

.servico-card h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--cor-branco);
}

.servico-card p {
    font-size: 15px;
    color: var(--cor-branco);
}

.equipe {
    background-color: var(--cor-branco);
    height: 100px;
}

.participantes h3{
    color: var(--cor-roxo2);
    font-size: 20px;
}