<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adaia</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <header class="d-flex">
        <img src="../static/img/logo.png" alt="Logo">
        <nav class="d-flex">
            <a href="#home">Home</a>
            <a href="#quem-somos">Quem somos</a>
            <a href="#servicos">Serviços</a>
            <a href="#equipe">Equipe</a>
            <a href="#contato">Contato</a>
        </nav>
        </header>

    <main>
            <section id="home" class="home"> 
                <div class="conteudo-home">

                    <h1>Transformamos ideias em tecnologia</h1>
                    <h3>Bem-vindo à Adaia — onde o futuro é agora!</h3>
                    <p>
                        Na Adaia, acreditamos que toda grande ideia merece ganhar vida. Por isso, unimos <br>
                        inovação, estratégia e inteligência tecnológica para criar soluções sob medida, capazes de <br>
                        antecipar tendências e gerar impacto real. Seja no desenvolvimento de sistemas, <br>
                        plataformas ou produtos digitais, estamos prontos para transformar o presente e construir <br>
                        o futuro ao seu lado.
                    </p>
                    <div class="imagemhome d-flex">
                    <img src="../static/img/home.png" alt="">
                    </div>              
                </div>
                
            </section>

            <section id="sobrenos" class="d-flex">
                <div>
                    
                </div>
                <div class="quemsomos d-flex">
                    <h2>Quem Somos</h2>
                    <p>A Adaia é uma empresa que une arte, ciência e código para criar soluções tecnológicas inteligentes, acessíveis e humanizadas. Inspirada em Ada Lovelace e movida por inovação com propósito, a Adaia desenvolve experiências digitais que equilibram estética e funcionalidade, colocando as pessoas no centro de tudo. Com base em valores como inclusão, conhecimento compartilhado e ética, a empresa busca reinventar a forma como a tecnologia conecta e transforma o mundo.</p>
                
            </section>


            <section id="servicos" class="servicos">
                <h2>Conheça nossos serviços</h2>
                <p class="servicos-subtitulo">
                    Soluções completas para acelerar sua transformação digital.
                </p>

                <div class="servicos-container">
                    <div class="servico-card">
                        <h4>Desenvolvimento de sistemas</h4>
                        <p>
                            Criamos sistemas personalizados que integram design, eficiência e inteligência para atender às necessidades únicas de cada projeto.
                            Unimos arte, ciência e código para transformar processos em experiências digitais fluidas e acessíveis.
                        </p>
                    </div>

                    <div class="servico-card">
                        <h4>Manutenção de servidores e sites</h4>
                        <p>
                            Garantimos o funcionamento contínuo e seguro de servidores e sites, com suporte técnico ágil e especializado.
                            Cuidamos da estabilidade da sua presença digital para que você foque no que realmente importa.
                        </p>
                    </div>

                    <div class="servico-card">
                        <h4>Consultoria em tecnologia</h4>
                        <p>
                            Oferecemos consultoria estratégica para transformar ideias em soluções tecnológicas eficientes, éticas e inovadoras.
                            Ajudamos você a tomar decisões seguras e criativas no uso da tecnologia para alcançar seus objetivos.
                        </p>
                    </div>
                </div>
            </section>
            <section id="equipe" class="equipe">
                <h2>Nossa equipe</h2>
                <p>Nós como empresa temos nossos pontos fortes, que são: criatividade, transparência, trabalho em equipe.</p>
            </section>

            
            <section id="equipe" class="participantes-container">

                <div class="participantes">
                    <img src="" alt="">
                    <h3>Ana Lara</h3>
                </div>
                <div class="participantes">
                    <img src="" alt="">
                    <h3>Marcela</h3>
                </div>
                <div class="participantes">
                    <img src="" alt="">
                    <h3>Matheus</h3>
                </div>
                <div class="participantes">
                    <img src="" alt="">
                    <h3>Maria Eduarda</h3>
                </div>
            </section>
    </main> 
        <footer class="d-flex">
             <img src="../static/img/logo.png" alt="Logo">
            <div class="rodape d-flex">
                <a href="index.html">Home</a>
                <a href="index.html">Quem somos</a>
                <a href="index.html">Serviços</a>
                <a href="index.html">Equipe</a>
                <a href="index.html">Contato</a>
            </div>
        
            <div class="contatorodape">
                <h3>Entre em contato conosco → </h3>
            </div>
             
            <section class="formulario d-flex">
              
                <form method="post">
                    <input type="text" name="nome" placeholder="Nome" required>
                    <input type="number" name="telefone" placeholder="Telefone" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <button class="botao cheio" type="submit">Enviar</button>
                    <a class="botao cancelar" href="/">Cancelar</a>
                </form>
           
            </section>
        
        </footer>
    </body>
</html>